music_directory "{{ .musicDir }}"
playlist_directory "~/.mpd/playlists"
db_file "~/.mpd/database"
state_file "~/.mpd/state"
sticker_file "~/.mpd/sticker.sql"
auto_update "yes"
input {
        plugin "curl"
}
audio_output {
  type "pipewire"
  name "PipeWire Sound Server"
}
